@charset "utf-8";

/* 共通クラス */
.sns-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 13px;
  text-align: center;
  width: 50%;
}

.form-design {
  background: #fbfbfb;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
}
/* 共通クラス */

.body-wrapper {
  background: #f2f6f7;
  padding: 32px 0;
  width: 100%;
}

.inner-wrapper {
  background: #fff;
  box-sizing: border-box;
  margin: 0 auto 32px;
  padding: 48px 64px;
  width: 640px; 
}

/* アカウント情報の区切りより上部  */
.top-text {
  color: #545658; 
  font-size: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.sns-button-container {
  display: flex;
  margin-bottom: 8px;
}

.facebook {
  background: #3b5999;
  border: 1px solid #3b5999; 
  color: #fff;
}

.google {
  background: #f7f7f7;
  border: 1px solid #d9d9d9; 
  color: #dd4b39;
  margin-left: 8px;
}

.sns-message {
  color: #949697; 
  font-size: 12px;
  text-align: center;
}

.account-border {
  align-items: center; 
  color: #545658; 
  display: flex; 
  justify-content: center;
  margin: 20px 0;
}

.account-border:before, .account-border:after {
  content: ""; 
  border-top: 0.5px solid #949697; ; 
  width: 40%;
} 

.account-text {
  color: #949697; 
  font-size: 12px;
}

/* アカウント情報の区切りより下部  */
.form-wrapper {
  margin-bottom: 20px;
}

.name-form-wrapper {
  display: flex;
}

.name-form-container {
  width: 100%;
}

.caution {
  color: red;
}

.form-text {
  color: #545658;
  font-size: 12px; 
  margin-bottom: 5px; 
}

.name-form {
  color: #545658;
  height: 36px;
  outline-color: #01bfbd;
  padding: 5px;
  width: 90%;
}

.gender-container {
  color: #545658;
}

.hometown {
  border-radius: 3px;
  color: #545658;
  font-size: 13px;
  height: 36px; 
  padding: 5px; 
  width: 50%; 
}

.full-form {
  color: #545658; 
  font-size: 13px; 
  height: 36px; 
  line-height: 2; 
  outline-color: #01bfbd;
  padding: 5px; 
  width: 100%; 
}

.course-box {
  display: block;
}

.area-form {
  border-radius: 3px;
  color: #545658;
  font-size: 13px; 
  height: 100px;
  line-height: 2; 
  outline-color: #01bfbd;
  padding: 5px; 
  width: 100%; 
}

.submit-button {
  background: #01bfbd; 
  border: none; 
  color: #fff; 
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  outline: none;
  padding: 13px; 
  width: 100%;
}

.questions {
  font-size: 12px;
  text-align: center;
}

.question-text {
  margin-bottom: 8px;
}

.form-link {
  color: #01bfbd; 
}